@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$width: 1920;
$height: 1750;
* {
    z-index: 999;
}

span {
    font-family: 'Helvetica';
}

@layer base {
    :root {
        --color-text-solid: #2d3748;
        --color-text-medium: #718096;
        --color-text-mild: #a0aec0;
        --color-icon-image-1: #ffffff;
        --color-icon-image-2: #1fab89;

        --color-bg-default: #f8f9fa;
        --color-bg-dark: 126, 134, 158;
        --color-bg-darker: 45, 55, 72;
        --color-bg-inverted: #000000;
        --color-bg-white: 255, 255, 255;
        --color-bg-detail-1: 31, 171, 137;

        //--width-simple-button: calc(50000vw / width + 20px);
        --text-size-base: 12px;
    }
}
/*
@layer components {
    .btn-primary {
      @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
}*/
