@tailwind base;
@tailwind components;
@tailwind utilities;

$width: 1920;
$height: 1750;

@layer base {
    :root {
        --color-text-solid: #2D3748;
        --color-text-medium: #718096;
        --color-text-mild: #A0AEC0; 
        --color-icon-image-1: #ffffff;
        --color-icon-image-2: #1FAB89;
        --color-bg-default: #F8F9FA;
        --color-bg-detail-1: #1FAB89;

        //--width-simple-button: calc(50000vw / width + 20px);
    }
}
/*
@layer components {
    .btn-primary {
      @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
}*/